
# Godot-specific ignores
.import/
export.cfg


# Mono-specific ignores
.mono/
data_*/
builds/win/thm-win64.exe
builds/win/thm-win64.pck
src/maps/autosave/street01.5.map
src/maps/autosave/street01.6.map
src/maps/autosave/street01.7.map
